@import "core/reset";
@import "core/variables";
@import "core/fonts";
@import "core/inputs";

@import "breakpoints/base";

@media only screen and (min-width: $tablet-breakpoint) {
    @import "breakpoints/tablet";
}

@media only screen and (min-width: $tablet-large-breakpoint) {
    @import "breakpoints/tablet-large";
}

@media only screen and (min-width: $desktop-breakpoint) {
    @import "breakpoints/desktop";
}

@media only screen and (min-width: $desktop-large-breakpoint) {
    @import "breakpoints/desktop-large";
}

