html {
    font-size: 100%;        // 100% = 16px
}

body {
    background-color: black;
    font-family: 'futura';
    text-align: center;
    color: $silver;

    &:after {
        content: "0px,base";
        display: none;
    }
}

section,
footer {
    padding: $global-padding;
}

.section-padding {
    height: 30px;
}

h1, h2, h3, h4, h5, p {
    span {
        color: $gold;
    }
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
    padding: 1rem 0 2rem;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    padding: 0.8rem 0;
}

a {
    color: $silver;
}

.wrap {
    width: 100%;
}

.introduction {
    height: 100%;

    .wrap {
        height: 100%;
        overflow: hidden;
    }

    .logo {
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);

        h1 { letter-spacing: 0.6rem;}
        h3 { letter-spacing: 0.46rem;}
    }

    .continue {
        position: absolute;
        bottom: 10px;
        width: 100%;
        max-width: 450px;
        padding: 0 $global-padding;
        left: 50%;
        transform: translateX(-50%);

        h2 {
            padding-bottom: $global-padding;
            font-family:playfair;
            letter-spacing: 0.05rem;
        }

        a {
            display: block;
            width: 48px;
            height: 25px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url('../images/continue-arrow.svg');
            transition: all 0.14s ease-in-out;

            &:hover {
                transform: translate(-50%, 3px);
                opacity: 0.6;
            }
        }
    }
}

.instagram-gallery {
    padding: $global-padding / 2;

    h4 {
        padding-bottom:1.5rem;

        span.username {
            text-transform: lowercase;
            color: white;
        }
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;

        a {
            flex: 0 0 (100% / 1);

            .outer {
                width: 100%;
                height: 0;
                padding-bottom: 100%;

                .inner {
                    position: absolute;
                    top: $global-padding / 2;
                    right: $global-padding / 2;
                    bottom: $global-padding / 2;
                    left: $global-padding / 2;
                    overflow: hidden;
                    border-radius: 1px;
                    //background-size: cover;
                    background-size: contain;
                    //background-position: center center;
                    background-position: center top;
                    background-repeat: no-repeat;

                    .icon {
                        position: absolute;
                        top: 8px;
                        right: 12px;
                    }
                }
            }
        }
    }
}

.creations {
    article {
        display: -ms-grid;
        display: grid;
        width: 100%;

        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

        padding-bottom: 1.2rem;
        padding-left:.5rem;
        padding-right:.5rem;

        .image {
            border-radius: 1px;
            overflow: hidden;

            img {
                //width: 100%;
                height: 500px;
                margin: 0 auto;
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }

        h5 {
            -ms-grid-column: 1;
            -ms-grid-row: 2;
        }
    }

    .divider {
        border-top: 3px solid white;
        width: 60px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
}

.slideshow {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;

    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 1fr minmax(16px, 40px) max-content minmax(16px, 120px) 1fr;
    grid-template-rows: 1fr minmax(16px, 40px) max-content minmax(16px, 120px) 1fr;

    .close {
        display: block;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;

        background-image: url('../images/slideshow-close-b.svg');
        background-position: right 8px;
        transition: all 0.14s ease-in-out;
        opacity: 0.6;

        &:hover {
            transform: translateY(3px);
            opacity: 1;
        }
    }

    .previous,
    .next {
        display: none;
    }

    .clip {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 3;
        overflow: hidden;

        .inner {
            width: 100%;
            font-size: 0;
            overflow: hidden;
            border-radius: 1px;
            position: relative;
            &:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: (3 / 5) * 100%;
            }

            .letterbox {
                background:black;
                display:block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                &.selected {
                    z-index: 1000;
                }

                img {
                    object-fit:contain;
                    //width: 100%;
                }
            }
        }
    }

    .indicator {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 4;
        grid-row: 4;

        .container {
            display: flex;
            justify-content: center;
            padding-top: 2px;

            a {
                width: 12px;
                height: 12px;
                margin: 10px 2px 2px;
                background-color: $silver;
                border-radius: 50%;
                transition: all 0.14s ease-in-out;

                &.selected {
                    background-color: $gold;
                }

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

footer {
    h5 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

.browser-upgrade {
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    p {
        padding-top: 2rem;
        color: white;
    }

    .browsers {
        padding-top: 1rem;

        a {
            img {
                width: 100px;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}
