html {
    font-size: 110%;        // 100% = 16px
}

.introduction .logo h1 {
    font-size:3.4rem;
    letter-spacing:1.16rem;
}

body {
    &:after {
        content: "#{$desktop-breakpoint},desktop-breakpoint";
        display: none;
    }
}

.wrap {
    width: $desktop-breakpoint;
    margin: 0 auto;
}

.section-padding {
    height: 180px;
}

.slideshow {
    width: $desktop-breakpoint;
    left: 50%;
    transform: translateX(-50%);
}
