
html {
    font-size: 110%;        // 100% = 16px
}

body {
    &:after {
        content: "#{$desktop-large-breakpoint},desktop-large-breakpoint";
        display: none;
    }
}
.slideshow {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
