html {
    font-size: 100%;        // 100% = 16px
}

body {
    &:after {
        content: "#{$tablet-large-breakpoint},tablet-large-breakpoint";
        display: none;
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1rem;
    padding: 1.5rem 0;
}

.section-padding {
    height: 120px;
}

.introduction {
    .continue {
        max-width: 560px;
        bottom: 20px;
        line-height: 1.6rem;
    }
}

.instagram-gallery {
    .gallery {
        a {
            flex: 0 0 (100% / 3);
        }
    }
}

.creations {
    article {
        padding-bottom: 2rem;
    }
}
