html {
    font-size: 100%;        // 100% = 16px
}

body {
    &:after {
        content: "#{$tablet-breakpoint},tablet-breakpoint";
        display: none;
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 0.9rem;
}

.section-padding {
    height: 60px;
}

.introduction {

    .logo {
        h1 { letter-spacing: 0.8rem;}
        h3 { letter-spacing: .62rem;}
    }

    .continue {
        max-width: 530px;
    }
}

.instagram-gallery {
    .gallery {
        a {
            flex: 0 0 (100% / 2);
        }
    }
}

.slideshow {
    -ms-grid-columns: 1fr 75% 1fr;
    grid-template-columns: 1fr 75% 1fr;

    .close {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    .previous {
        display: block;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 3;

        background-image: url('../images/slideshow-prev.svg');
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.14s ease-in-out;
        opacity: 0.6;

        &:hover {
            transform: translateX(-3px);
            opacity: 1;
        }
    }

    .next {
        display: block;
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 3;
        grid-row: 3;
        opacity: 0.6;

        background-image: url('../images/slideshow-next.svg');
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.14s ease-in-out;

        &:hover {
            transform: translateX(3px);
            opacity: 0.6;
            opacity: 1;
        }
    }

    .clip {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 3;
        grid-row: 3;
    }

    .indicator {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 4;
        grid-row: 4;
    }
}
