@font-face {
    font-family: 'futura';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/FuturaMedium.eot');
    src: url('../fonts/FuturaMedium.eot') format('embedded-opentype'),
         url('../fonts/FuturaMedium.woff2') format('woff2'),
         url('../fonts/FuturaMedium.woff') format('woff'),
         url('../fonts/FuturaMedium.ttf') format('truetype'),
         url('../fonts/FuturaMedium.svg#FuturaMedium') format('svg');
}

@font-face {
    font-family: 'futura';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/FuturaBold.eot');
    src: url('../fonts/FuturaBold.eot') format('embedded-opentype'),
         url('../fonts/FuturaBold.woff2') format('woff2'),
         url('../fonts/FuturaBold.woff') format('woff'),
         url('../fonts/FuturaBold.ttf') format('truetype'),
         url('../fonts/FuturaBold.svg#FuturaBold') format('svg');
}

@font-face {
    font-family: 'playfair';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular.ttf') format('truetype'),
}