@charset "utf-8";

html,
body {
    position: relative;
    
    padding: 0;
    margin: 0;
    
    font-size: 100%;

    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

img,
main,
div,
section,
header,
article,
figure,
footer {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

pre {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    position: relative;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    background-repeat: no-repeat;
    text-decoration: none;
}

ul,
ol {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="email"],
input[type="number"],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    outline: none;
    min-width: 0;
}

address {
    font-style: normal;
}

:focus {
    outline-style: none;
    outline-width: 0px;
}

img {
    border: none;
}