// Responsive breakpoints
$tablet-breakpoint:         480px;
$tablet-large-breakpoint:   768px;
$desktop-breakpoint:        1024px;
$desktop-large-breakpoint:  1240px;

// Element padding
$global-padding:            16px;

// Colours
$gold:                      #AA8F5C;
$silver:                    #999999;
